{
  "rules": {
    "react/require-extension": "off",
    "space-after-keywords": "off",
    "no-empty-label": "off",
    "space-return-throw-case": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-quotes": "off"
  }
}